services: 
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=${PORT}
      - SECRET=${SECRET}
      - IMGBB_KEY=${IMGBB_KEY}
      - MONGODB_URL=${MONGODB_URL}
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - BACKEND_URL=${BACKEND_URL}
      - TOKEN=${TOKEN}
      - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
      - RAZORPAY_KEY_SECRET=${RAZORPAY_KEY_SECRET}
    
    command: npm start

    restart: always

    networks:
      - coursehive
    
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_RAZORPAY_KEY_ID: ${VITE_RAZORPAY_KEY_ID}

    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    
    depends_on:
      - backend

    restart: always

    networks:
      - coursehive

networks:
  coursehive:
    driver: bridge