name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  frontend:
        runs-on: ubuntu-latest
  
        steps:
          - name: Checkout repo
            uses: actions/checkout@v3

          - name: Setup Node
            uses: actions/setup-node@v3
            with:
              node-version: 18

          - name: Install Frontend Dependencies
            run: npm install

          - name: Build Frontend
            run: npm run build
            
          - name: Upload Dist to S3
            uses: jakejarvis/s3-sync-action@master
            with:
              args: --delete
            env:
              AWS_S3_BUCKET: ayandas
              AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
              AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              AWS_REGION: "ap-south-1"
              SOURCE_DIR: "dist"

          - name: Invalidate CloudFront Cache
            uses: chetan/invalidate-cloudfront-action@v2
            env:
              DISTRIBUTION: E4GLPEFJB4ADK
              PATHS: "/*"
              AWS_REGION: "ap-south-1"
              AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
              AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}


  backend:
        runs-on: ubuntu-latest
  
        steps:
          - name: Checkout repo
            uses: actions/checkout@v3

          - name: Upload Backend Folder to EC2
            uses: appleboy/scp-action@v0.1.4
            with:
              host: ${{ secrets.EC2_HOST }}
              username: ubuntu
              key: ${{ secrets.EC2_SSH_KEY }}
              source: "backend"
              target: "/home/ubuntu/project/backend"

          - name: SSH to EC2 & Deploy Backend
            uses: appleboy/ssh-action@v1.0.3
            with:
              host: ${{ secrets.EC2_HOST }}
              username: ubuntu
              key: ${{ secrets.EC2_SSH_KEY }}
              script: |
                cd /home/ubuntu/project/backend
                npm install --production
                pm2 restart backend || pm2 start server.js --name backend

